div{
	 border: 10px;
	 padding: 1px;
	 background-color: #66CDAA;
	 margin-color: #ADFF2F;


}
div div{
	border-style: dashed;
	background-color:  #F0FFFF;
	margin: 20px 50px 20px 50px;
}
.uno{
	text-align: center;
}
#border{
     border-color: #BA55D3;
	 border-top-width: 25px solid;
}